
body {

    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
}


header {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    display: flex;
    height: 60px;
    padding-left: 75px;
    padding-right: 75px;
    text-align: center;
    
}



header a {
   
   padding: 15px 40px;
	text-decoration: none;
	color: white;
	
}

header a img {
   padding: 0;
   height: 30px;
   width: 30px;

}




.superior {
        text-align: center;
        display: block;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 100px;
      
}

#new {

   color: red;
   font-size: 12px;
}

h1 {

   font-size: 80px;
   margin-bottom: 20px;
   margin-top: 20px;
}

 .medio {

    display: flex;
    justify-content: space-between;
	align-items: center;
    margin-top: 50px;
 }

 section {
     background-color:rgb(242, 242, 242);
    text-align: center;
    display: block;
    width: 750px;
    height: 500px;
    margin-left: 20px;
    margin-right: 20px;
    
 }
 
 section img {

    width: 100%;
    height: 250px;
 }

 .inferior {
    text-align: center;
    display: block;
    margin-top: 50px;

 }

 footer {
    color: rgb(81, 81, 84);
    background-color: rgb(245, 245, 247);
    padding-left: 100px;
 }

 nav {

    text-decoration: none;
    
 }

 button {
    color: white;
    background-color: rgb(0, 113, 227);
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
 }

 a {
    color: rgb(0, 113, 227);
    text-decoration: none;
 }

 footer {

    text-decoration: none;
    color:rgb(81, 81, 84)
 }

 footer a {
   color:rgb(81, 81, 84);
   padding-right: 30px;
   border-right: 1px rgb(81, 81, 84);
 }

 .opcionespie {

   
 }